- @port_mapping_templates ||= @appliance_type.port_mapping_templates

#port-mapping-templates
  %p
    -#.flash-container
    - if @alert
      .alert.alert-danger
        %span= @alert

    - elsif @notice
      .alert.alert-info
        %span= @notice


  - unless @port_mapping_templates.present?
    %p
      .alert.alert-warning No Port Mappings defined.

  - else
    %p.description
      -# TODO, FIXME: Port mappings section description

    %table.table.table-hover
      %thead
        %tr
          %th(style='width:25%') Service name
          %th(style='width:15%') Target port
          %th(style='width:20%') Transport protocol
          %th(style='width:20%') Application protocol
          %th Actions

      %tbody
        = render partial: 'admin/port_mapping_templates/show', collection: @port_mapping_templates.def_order, as: :pmt

:javascript
  $('body').on('ajax:success', '[data-target]', function(xhr, data, status) {
    $($(this).attr('data-target')).replaceWith(data);
  });
