#Please keep air.yml.example up to date
defaults: &defaults
  #sidekiq:
  #  url: redis://localhost:6379
  #  namespace: air

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
