=simple_form_for [:admin, @security_policy], html: { class: "form-horizontal"} do |f|
  .inputs
    =f.input :name, input_html: { class: 'input-xlarge'}
    =f.input :payload, input_html: { class: 'input-xlarge'}
    =f.association :users, input_html: { class: 'input-xlarge'}
  .actions
    %button.btn.btn-success{id: "action-button",  type: "submit"}
      =fa_icon 'edit'
      = t('save')
    = link_to t('back'), admin_security_policies_path, class: 'btn btn-default'
