=content_for :head do
  %script{src: 'clew/clew.nocache.js'}

:javascript
  var ClewOverrides = {
    cloudFacadeUrl: '/api/v1',
    username: '#{current_user.login}',
    roles: #{current_user.roles.map(&:to_s)},
    csrf_header_name: 'X-CSRF-Token',
    csrf_token: '#{form_authenticity_token}'
  }

#clewContainer
