#Please keep air.yml.example up to date
defaults: &defaults
  vph:
    enabled: true
    host: 'https://portal.vph-share.eu'
    roles_map: {cloudadmin: 'admin', developer: 'developer'}
    ssl_verify: true
  dnat:
    url: 'http://10.10.10.10:8888'
    user: 'user'
    password: 'password'
  #sidekiq:
  #  url: redis://localhost:6379
  #  namespace: air

  #config_param
  #  regexp: '#{\w*}'
  #  range: '2..-2'

  #token_authentication_key: private_token
  #mi_authentication_key: mi_ticket

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
  mailer:
    host: vph.cyfronet.pl
  exception_notification:
    email_prefix: "[Err Atmosphere]"
    sender_address: '"notifier" <notifier@vph.cyfronet.pl>'
    exception_recipients:
      - m.kasztelnik@cyfronet.pl
      - t.gubala@cyfronet.pl
      - t.bartynski@cyfronet.pl
      - p.nowakowski@cyfronet.pl
