#Please keep air.yml.example up to date
defaults: &defaults
  vph:
    enabled: true
    host: 'http://jump.vph-share.eu'
    roles_map: {cloudadmin: 'admin', developer: 'developer'}
  #sidekiq:
  #  url: redis://localhost:6379
  #  namespace: air

  #config_param
  #  regexp: '#{\w*}'
  #  range: '2..-2'

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults