.vm-table {
  @extend .action-table;

  td:nth-child(1) {
    font-family: monospace;
  }

  td:nth-child(4) {
    font-family: monospace;
  }
}

.vmt-table {
  @extend .action-table;

  td:nth-child(1) {
    font-family: monospace;
  }
}