%h1 Listing workflows

%table
  %tr
    %th
    %th
    %th

  - @workflows.each do |workflow|
    %tr
      %td= link_to 'Show', [:admin, workflow]
      %td= link_to 'Edit', edit_admin_workflow_path(workflow)
      %td= link_to 'Destroy', [:admin, workflow], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

-#= link_to 'New Workflow', new_admin_workflow_path
