<script type="text/x-handlebars">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">AIR</a>
      </div>

      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li>{{#linkTo 'appliance_types'}}Appliance Types{{/linkTo}}</li>
          <li>{{#linkTo 'about'}}About{{/linkTo}}</li>
        </ul>
      </div>
    </div>
  </nav>
  <div class='container'>
    {{outlet}}
  </div>
</script>