<script type="text/x-handlebars">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">AIR</a>
      </div>

      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li>{{#linkTo 'appliance_types'}}Appliance Types{{/linkTo}}</li>
          <li>{{#linkTo 'about'}}About{{/linkTo}}</li>
        </ul>
      </div>
    </div>
  </nav>
  <div class='container'>
    {{outlet}}
  </div>
</script>

<script type="text/x-handlebars" id="about">
  <div class='about'>
    <p>Playing with emberjs</p>
  </div>
</script>

<script type="text/x-handlebars" id="appliance_types">
  <div class='appliance_types'>
    <div class='row'>
      <div class='col-md-3'>
        <table class='table'>
          <thead>
            <tr>
              <th>Appliance Types</th>
            </tr>
          </thead>
          {{#each model}}
          <tr>
            <td>
            {{#linkTo 'appliance_type' this}}
              {{name}} <small class='text-muted'>by {{author}}</small>
            {{/linkTo}}
            </td>
          </tr>
          {{/each}}
        </table>
      </div>
      <div class='col-md-9'>
        {{outlet}}
      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" id="appliance_types/index">
  <p class="text-warning">Please select an appliance type</p>
</script>

<script type="text/x-handlebars" id="appliance_type">
  {{#if isEditing}}
    {{partial 'post/edit'}}
    <button {{action 'doneEditing'}} class='btn'>Done</button>
  {{/if}}

  {{partial 'appliance_type/view'}}
</script>

<script type="text/x-handlebars" id="appliance_type/_view">
  <h1>
    {{name}}
    <small class='text-muted'>by {{author}}</small>
    {{#unless isEditing}}
      <div class="pull-right">
        <button {{action 'edit'}} class='btn btn-success' title='Edit'>
          <i class="icon-edit"></i>
        </button>
        <button {{action 'delete'}} class='btn btn-danger' title="Delete">
          <i class="icon-trash"></i>
        </button>
      </div>
    {{/unless}}
  </h1>
  <hr />
  <div class="description">
    {{markdown description}}
  </div>
</script>

<script type="text/x-handlebars" id="post/_edit">
  <form role="form">
    <div class="form-group">
      <label for="name">Name</label>
      {{view Ember.TextField valueBinding='name' class='form-control'}}
    </div>
    <div class="form-group">
      <label for="author">Name</label>
      {{view Ember.TextField valueBinding='author' class='form-control'}}
    </div>
    <div class="form-group">
      <label for="description">Name</label>
      {{view Ember.TextArea valueBinding='description' class='form-control' rows='4'}}
    </div>
  </form>
</script>