.col-md-3
  %legend
    Appliance Types
    .pull-right
      =# link_to new_admin_appliance_type_path, class: "btn btn-success btn-xs", title: "Add new Appliance Type", remote: true, data: { target: '#appliance_type' }  do
      = link_to new_admin_appliance_type_path, class: 'btn btn-success btn-xs', title: 'Add new Appliance Type' do
        %i.icon-plus
        Add new

  %ul#appliance-types-menu.nav.nav-pills.nav-stacked
    - @appliance_types.each do |appliance_type|
      %li
        =# link_to admin_appliance_type_path(appliance_type), remote: true, data: { target: '#appliance_type' }  do
        = link_to admin_appliance_type_path(appliance_type) do
          = appliance_type.name
          - if appliance_type.author
            %small.text-muted
              by
              = appliance_type.author.login
