%p.description
  FIXME: Configurations section description

%table.table.table-hover
  %thead
    %tr
      %th Id
      %th Name
      %th Actions
  %tbody
    %tr
      %td 1
      %td Static configuration
      %td
        .btn-group
          %button.btn.btn-success.btn-xs{title: 'Edit'}
            %i.icon-edit
          %button.btn.btn-danger.btn-xs{title: "Delete"}
            %i.icon-trash

    %tr
      %td 2
      %td Dynamic configuration
      %td
        %button.btn.btn-default.btn-xs{title: "Endpoints"}
          Variables

        .btn-group
          %button.btn.btn-success.btn-xs{title: 'Edit'}
            %i.icon-edit
          %button.btn.btn-danger.btn-xs{title: "Delete"}
            %i.icon-trash