%p.description

  NOT USED ANYMORE!!! DELETE!!!!!!!

%table.table.table-hover
  %thead
    %tr
      %th Id
      %th Name
      %th Payload
      %th Actions
  %tbody

    - @appliance_type.appliance_configuration_templates.each do |acts|
      %tr
        %td= acts.id
        %td= acts.name
        %td= acts.payload
        %td
          .btn-group
            %button.btn.btn-success.btn-xs{title: 'Edit'}
              =fa_icon 'edit'
            %button.btn.btn-danger.btn-xs{title: "Delete"}
              =fa_icon 'trash-o'

    - unless @appliance_type.appliance_configuration_templates.present?
      %tr
        %td(colspan='4')
          .alert.alert-warning No Appliance Configuration Templates assigned to this Appliance Type.

    %tr
      %td(colspan='4')
        = link_to [:new, :admin, @appliance_type, :appliance_configuration_template], remote: true,
            class: 'btn btn-success btn-xs pull-right', title: 'Add', data: {target: '#new-appliance-configuration-template'} do
          =fa_icon 'plus'
          Add
          -#= 'first' unless pmts_present

    -#%tr
    -#  %td 2
    -#  %td Dynamic configuration
    -#  %td
    -#    %button.btn.btn-default.btn-xs{title: "Endpoints"}
    -#      Variables
    -#
    -#    .btn-group
    -#      %button.btn.btn-success.btn-xs{title: 'Edit'}
    -#        =fa_icon 'edit'
    -#      %button.btn.btn-danger.btn-xs{title: "Delete"}
    -#        =fa_icon 'trash-o'