%p.description
  FIXME: Templates section description

%table.table.table-hover
  %thead
    %tr
      %th Id
      %th Name
      %th Site
      %th State
      %th Actions
  %tbody
    %tr
      %td 9371ad64-e46d-4fde-a173-8b43a31f489b
      %td Ubuntu
      %td Cyfronet
      %td Ready
      %td
        .btn-group
          %button.btn.btn-success.btn-xs{title: 'Edit'}
            =fa_icon 'edit'
          %button.btn.btn-danger.btn-xs{title: 'Delete'}
            =fa_icon 'trash-o'

    %tr
      %td addc2222-9632-468e-8b78-18c74d9df6ef
      %td Ubuntu
      %td Viena
      %td Saving
      %td
        .btn-group
          %button.btn.btn-success.btn-xs{title: 'Edit'}
            =fa_icon 'edit'
          %button.btn.btn-danger.btn-xs{title: 'Delete'}
            =fa_icon 'trash-o'