.appliance_types
  .row
    = render 'admin/appliance_types/appliance_types_menu'

    .col-md-9
      #appliance_type

        .edit
          %h4
            Create new Appliance Type
            .pull-right
              %button.btn.btn-success.btn-xs{title: 'Create', id: 'save-appliance-type'}
                =fa_icon 'save'
                Save
              :javascript
                $(function() {
                  $('#save-appliance-type').on('click', function() {
                    $('#new_appliance_type').submit();
                  });
                });

              = link_to admin_appliance_types_path, class: 'btn btn-default btn-xs', title: 'Cancel' do
                Cancel
          %hr
          = render 'admin/appliance_types/edit'

        -#%ul.nav.nav-tabs#tabs
        -#  %li.active
        -#    %a{href: '#port-mappings-tab', 'data-toggle' => 'tab'} Port mappings
        -#  %li
        -#    %a{href: '#configurations-tab', 'data-toggle' => 'tab'} Configurations
        -#  %li
        -#    %a{href: '#templates-tab', 'data-toggle' => 'tab'} Templates
        -#.tab-content
        -#  #port-mappings-tab.tab-pane.active
        -#    = hb "partial 'appliance_types/port_mappings'"
        -#  #configurations-tab.tab-pane
        -#    = hb "partial 'appliance_types/configurations'"
        -#  #templates-tab.tab-pane
        -#    = hb "partial 'appliance_types/templates'"