.navbar.navbar-fixed-top

  = link_to t('code_name'), root_path, class: 'navbar-brand'

  %ul.nav.navbar-nav
    - [ApplianceSet, SecurityProxy, SecurityPolicy].each do |model|
      = nav_link controller: model.name.tableize.to_sym do
        = link_to model.model_name.human, [:admin, model]
