!!! 5
%html{ lang: "en"}
  = render "layouts/atmosphere/head"
  %body.login-page
    = render "layouts/atmosphere/flash"
    .container
      .content
        %center
          %h1= t('code_name')
          %hr
          = yield